/* Navbar */
.navbar-pink {
    background-color: pink;
  }
  
  /* Dark Mode */
  .dark-mode {
    background-color: #333;
    color: #fff;
  }
  
  /* About Section */
  #about {
    padding: 40px;
  }
  
  .about-detail {
    display: flex;
    flex-direction: row;
  }
  
  .about-description {
    padding: 40px;
  }
  
  .title {
    font-family: 'Caveat Brush', cursive;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .bg-pink {
    background-color: #ffbbe0;
  }
  
  /* Experiences Section */
  .row1 {
    text-align: center;
    background-color: lightgray;
    padding: 10px;
    font-weight: bold;
  }
  
  .col {
    text-align: left;
    padding: 20px;
  }
  
  /* Education Section */
  .row2 {
    text-align: center;
    background-color: lightgray;
    padding: 10px;
    font-weight: bold;
  }
  
  /* Additional Styling */
  .color {
    color: white;
    font-size: 24px;
  }
  
